<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <targets async="true">
    <target name="logFile"
            xsi:type="File"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=Type,ToString}; logger = ${logger}"
            fileName="${basedir}/logs/Log.current.txt"
            archiveFileName="${basedir}/logs/archives/Log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyyMMdd"
            archiveAboveSize="5242880"
            maxArchiveFiles="9" />

    <target name="consoleOut"
            xsi:type="Console"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=Type,ToString}; logger = ${logger}" />
  </targets>

  <rules>
    <logger ruleName="AllToFile" name="*" minlevel="Trace" writeTo="logFile">
      <filters defaultAction="Log">
        <when condition="starts-with(logger,'System.') and level &lt; LogLevel.Warn" action="Ignore" />
        <when condition="starts-with(logger,'Microsoft.') and level &lt; LogLevel.Warn" action="Ignore" />
        <when condition="starts-with(logger,'Polly') and level &lt; LogLevel.Warn" action="Ignore" />
      </filters>
    </logger>

    <logger ruleName="AllToConsole" name="*" minlevel="Debug" writeTo="consoleOut">
      <filters defaultAction="Log">
        <when condition="starts-with(logger,'System.') and level &lt; LogLevel.Warn" action="Ignore" />
        <when condition="starts-with(logger,'Microsoft.') and level &lt; LogLevel.Warn" action="Ignore" />
        <when condition="starts-with(logger,'Polly') and level &lt; LogLevel.Warn" action="Ignore" />
      </filters>
    </logger>

    <!--Output hosting lifetime messages to make Docker / Visual Studio happy (see https://github.com/NLog/NLog.Web/wiki/Hosting-Lifetime-Startup-Messages) -->
    <logger ruleName="MicrosoftHostingLifetimeToConsole" name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="coloredConsole" final="true" />
  </rules>
</nlog>
